MONGODB_URI=

# API de recherche par plaque d'immatriculation
API_MATRICULE_TOKEN=

# Firebase Admin SDK
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_STORAGE_BUCKET=

# Envoi d'e-mails
CLIENT_ID=
AUTH_URI=
TOKEN_URI=
GMAIL_USER=
GMAIL_APP_PASSWORD=
